*{
	margin: 0;
	padding: 0;
}
body{
	background-image: Images/Darksouls.jpg
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
.wrapper{
	float: right;
	margin: 0;
	
}
.wrapper ul{
	list-style: none;
	margin-top 2%
}
 .wrapper ul li{
	 background: blue;
	 width: 170px;
	 border: 1px solid;
	 height: 50px;
	 line-height: 50px;
	 text-align: center;
	 float: right;
	color: orange;
	font-size; 14px;
	Position: relative;
	font-family: Imapct;

 }
 .wrapper ul li:hover{
	 background: black;
 }
