
.youtube{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	font-family: impact;
}

.centerbox
{
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translateX(-50%);
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.header{
	width: 100%;
	height: 52;
	display: block;
	background-color: orange;
}
.inner_header{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: white;
}
.logo_container{
	height: 100%;
	display: table;
	float: left;

	
}
.logo_container h1{
	
	height: 100%;
	display: table-cell
	vertical-align: center;
	font-family: impact;
	font-size 32px;
	font-weight: 200;
}

body{
	background-image: Images/Darksouls.jpg
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
.navigation{
	float: right;
	margin: 0;
	
}
.navigation a{
	list-style: none;

	display: flex;
	flex-direction: horizontal;
	float: right;
}
 .navigation a li{
	 background: blue;
	 width: 170px;
	 border: 1px solid;
	 height: 50px;
	 line-height: 50px;
	 text-align: center;
	 float: right;
	color: orange;
	font-size; 14px;
	Position: relative;
	font-family: impact;

 }
 .navigation a li:hover{
	 background: black;
 }
.footer{
	position: fixed;
	bottom: 0;
width: 100%;
	height: 60;
	display: block;
	background-color: orange;
	 font-family: impact;
}	
.footer h1{

position: fixed;
  bottom: 0;
  right: 700;
  width: 300px;
 font-family: impact;
}
.hello{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	font-family: impact;
	font-size: 30px
	
}
.MEDIC{
	position: absolute;
	left: 40%;
	top: 5%;
	transform: translateX(-50%);
	font-family: impact;
	font-size: 80px
	
}	